.fundo {
    height: 100vh;
    width: 100vw;
    background-color: #192227;
    overflow: hidden;
}

.interface {
    margin-top: 15px;
    margin-bottom: 15px;
    height: calc(100vh - 30px);
    background-color: #263238;
    border-radius: 5px;
    // @media (max-width: 575.98px) {
        
    // }
}

.menu {
    height: calc(100vh - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #192227;
    border-radius: 5px;
    // QUANDO ADICIONAR MAIS ITEM REMOVER
    // display: flex;
    // align-items: center;
}

.menu::-webkit-scrollbar {
    width: 10px;
}

.menu::-webkit-scrollbar-track {
    background: #263238;
}

.menu::-webkit-scrollbar-thumb {
    background: #19222744;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #192227;
}

.item-menu {
    color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.item-menu:hover {
    color: #192227;
    text-decoration: none;
}

.item-menu-active{
    color: #192227;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #192227;
    border-radius: 5px;
}

.text-item-menu {
    font-size: 9px;
    font-weight: bold;
}

.btn-toggle {
    color: #192227;
    cursor: pointer;
}

.btn-toggle:hover {
    color: rgba(255, 255, 255, 0.2);
}

.main {
    height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.menu-superior {
    height: 34px;
}
.conteudo {
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
}
.conteudo::-webkit-scrollbar {
    width: 10px;
}

.conteudo::-webkit-scrollbar-track {
    background: #263238;
}

.conteudo::-webkit-scrollbar-thumb {
    background: #19222744;
}

.conteudo::-webkit-scrollbar-thumb:hover {
    background: #192227;
}
