@import "src/styles.scss";

.main {
    height: 100vh;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $bgDark;
    color: $textDark;
}

.interface {
    height: calc(100vh - 30px);
    background-color: $bgLight;
    color: $textLight;
    border-radius: 15px;
}

.menu {
    height: 78px;
    border-radius: 15px;
}

.menu-item {
    color: $textDark;
    cursor: pointer;
    text-align: center;
    padding: 15px 0;
    width: 20%;
}

.menu-item:hover {
    color: $textLight;
}

.menu-item-active {
    color: $textLight;
}

.menu-item-font {
    font-size: 9px;
    font-weight: bold;
}

.content {
    height: calc(100vh - 108px);
    overflow: hidden;
    padding-bottom: 15px;
}
