@import "src/styles.scss";

.main {
    height: 100vh;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $bgDark;
    color: $textDark;
}

.interface {
    height: calc(100vh - 30px);
    background-color: $bgLight;
    color: $textLight;
    border-radius: 15px;
    -webkit-animation:bounce-in 2s ease 0s 1 normal;
    -moz-animation:bounce-in 2s ease 0s 1 normal;
    -ms-animation:bounce-in 2s ease 0s 1 normal;
    animation:bounce-in 2s ease 0s 1 normal;
    }
    
    @-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

.menu {
    height: 78px;
    border-radius: 15px;
}

.menu-item {
    color: $textDark;
    cursor: pointer;
    text-align: center;
    padding: 15px 0;
    width: 20%;
}

.menu-item:hover {
    color: $textLight;
}

.menu-item-active {
    color: $textLight;
    -webkit-animation:bounce-in 0.3s ease-out 0s 1 normal;
    -moz-animation:bounce-in 0.3s ease-out 0s 1 normal;
    -ms-animation:bounce-in 0.3s ease-out 0s 1 normal;
    animation:bounce-in 0.3s ease-out 0s 1 normal;
    }
    
    @-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

.menu-item-font {
    font-size: 9px;
    font-weight: bold;
}

.content {
    height: calc(100vh - 108px);
    overflow: hidden;
    padding-bottom: 15px;
}
