<div class="main">
  <div class="container">
    <div class="interface">
      <nav class="nav justify-content-center shadow menu">
        <a class="nav-link menu-item" [routerLink]="['profile']" routerLinkActive="menu-item-active">
          <i class="fas fa-lg fa-user-circle"></i><br>
          <span class="menu-item-font">PROFILE</span>
        </a>
        <a class="nav-link menu-item" [routerLink]="['studies']" routerLinkActive="menu-item-active">
          <i class="fas fa-lg fa-graduation-cap"></i> <br>
          <span class="menu-item-font">STUDIES</span>
        </a>
        <a class="nav-link menu-item" [routerLink]="['works']" routerLinkActive="menu-item-active">
          <i class="fas fa-lg fa-briefcase"></i><br>
          <span class="menu-item-font">WORKS</span>
        </a>
        <a class="nav-link menu-item" [routerLink]="['codes']" routerLinkActive="menu-item-active">
          <i class="fas fa-lg fa-code"></i><br>
          <span class="menu-item-font">CODES</span>
        </a>
        <a class="nav-link menu-item" [routerLink]="['contacts']" routerLinkActive="menu-item-active">
          <i class="fas fa-lg fa-at"></i><br>
          <span class="menu-item-font">CONTACTS</span>
        </a>
      </nav>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>