<div class="profile barra-scroll">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 my-3">
                <img src="assets/images/foto.jpg" class="img-fluid profile-foto">
            </div>
            <div class="col-12 text-center">
                <span class="profile-nome">Vinícius Pacheco</span>
            </div>
            <div class="col-12 text-center">
                <span class="profile-subtitle">
                    WEB-DEVELOP / UX-DESIGN
                </span>
            </div>
        </div>
    </div>
</div>