<div class="profile">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-6">
                <img src="assets/images/foto.jpg" class="img-fluid profile-foto">
            </div>
            <div class="col-12 profile-textos">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center my-3">
                            <span class="profile-assinatura">
                                Vinícius Pacheco
                            </span>
                        </div>
                        <div class="col-12 text-center">
                            <span class="profile-subtitulo">
                                WEB DEVELOPER / UX DESIGNER
                            </span>
                        </div>
                        <div class="col-12 text-center">
                            <span class="profile-subtitulo">
                                Brazil, age {{idade}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>