<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="cartao my-5 col-sm-6 col-12" [ngClass]="{'EfeitoCartao': efeito }" (click)="rotacionar()">
            <div class="cartao-container">
                <div class="cartao-front shadow-lg p-3">
                    <img src="assets/images/foto.jpg" class="img-fluid" width="100px">
                </div>
                <div class="cartao-back shadow-lg p-3">PACHECO</div>
            </div>
        </div>
    </div>
</div> -->